// ============== SECTION GALLERY ================== //
.gallery {
   padding-top: 160px;

   .container {
      display: flex;
      justify-content: space-between;
   }
}

.video-gallery {
   width: 484px;

   &:last-child {
      width: 625px;
   }
}

.video-gallery__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 52px;
}

.video-gallery__title {
   span {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #29295F;
   }

   h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 46px;
      letter-spacing: 0.02em;
      color: #29295F;
   }
}

.video {
   position: relative;
   margin-bottom: 54px;
}

video {
   width: 484px;
   height: 250px;
}

.video-play {
   position: absolute;
   bottom: -45px;
   left: 23px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 90px;
   height: 90px;
   background: #00B1B9;
   border-radius: 50%;
   border: none;
   box-shadow: -10px 12px 64px rgba(0, 177, 185, 0.7);
   cursor: pointer;

   img {
      filter: drop-shadow(-3px 8px 14px rgba(8, 98, 102, 0.69));
   }
}

.video-gallery__text {
   font-weight: 400;
   font-size: 28px;
   line-height: 34px;
}

.photos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 625px;

   img {
      vertical-align: middle;
   }
}

.photos__right-top {
   margin-bottom: 10px;
}

.photos__right-bottom {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}