.make-appointment {
   .container {
      max-width: 1309px;
      padding-top: 48px;
      padding-left: 80px;
      padding-right: 80px;
      background-color: #E5F7F8;
   }

   h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 30px;
      letter-spacing: 0.02em;
   }
}