// ============== MEDIA QUERIES ================== //
@include media(1300px) {
   .slider .container {
      background-size: 30%;
   }
   .services {
      padding-top: 30px;
   }

   .description {
      text-align: center;
   }

   .services__slider .slick-dots {
      bottom: 30px;
   }

   .services__slider {
      width: 100%;
      margin-bottom: 20px;
   }

   .services__list {
      width: 100%;
   }

   .services__card {
      width: 32%;
   }

   .about-says {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .about-us {
      width: 100%;
      margin-bottom: 20px;
      padding: 15px;

      .section__title {
         margin-bottom: 20px;
      }

      h3 {
         margin-bottom: 10px;
         font-size: 20px;
      }

      img {
         width: 100%;
      }
   }

   .people-says {
      width: 100%;
      padding: 15px;

      .section__title {
         margin-bottom: 20px;
      }
   }

   .comment {
      padding: 15px;
   }

   .comment__text {
      font-size: 16px;
      line-height: 20px;
   }

   .slider-card {

      width: 100%;
   }

   .news {
      padding-top: 30px;

      .slick-track {
         padding-top: 30px;
         padding-bottom: 30px;
      }
   }

   .sign-doctors {
      padding-top: 30px;
   }

   .sign {
      width: 100%;
      margin-bottom: 30px;
   }

   .our-doctors {
      width: 100%;
   }

   .prefers {
      padding-top: 30px;
   }

   .gallery {
      padding-top: 30px;
   }

   .campaign {
      padding-top: 30px;
      padding-bottom: 10px;
   }

   .feedback {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .is-useful {
      width: 100%;
      margin-bottom: 20px;
   }
   .share {
      width: 100%;
   }

   .site-footer {
      padding-top: 30px;
   }

   .our-doctors__header {
      padding-top: 30px;
      padding-left: 30px;

      h2 {
         line-height: 30px;
      }
   }

   .sign h2 {
      padding-top: 30px;
      padding-left: 30px;
   }
}

@include media(1270px) {
   .campaign__section {
      width: 100%;
      margin-bottom: 20px;
   }
}

@include media(1245px) {
   .site-options {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .prefers {
      padding-top: 30px;

      .row {
         margin-bottom: 0 !important;
      }
   }

   .prefers__card {
      width: 100%;
      margin-bottom: 20px;
   }
}

@include media(1160px) {
   .video-gallery {
      width: 100% !important;

      &:first-child {
         margin-bottom: 30px;
      }
   }

   video {
      width: 100%;
      height: auto;
   }

   .video-gallery__header {
      margin-bottom: 30px;
   }
}

@include media(1090px) {
   .services__list .row {
      margin-bottom: 0 !important;
   }
   .services__card {
      width: 100%;
      margin-bottom: 20px;
   }

   .site-footer__nav, .site-footer__middle {
      width: 50%;
      margin-bottom: 20px;
   }

   .site-footer__info {
      width: 100%;
      text-align: center;
   }

   .site-footer .container:first-child {
      padding-bottom: 0!important;
   }
}

@include media(1010px) {
   .site-nav__ul {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -110%;
      width: 100%;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      background-color: $MAIN-LIGHT-BLUE;
      transition: 0.5s;
   }

   .slider .container {
      background-image: none;
   }

   .slick-prev, .slick-next {
      display: none !important;
   }

   .nav-open {
      display: block;
   }

   .site-nav__li {
      margin: 20px 0 !important;
   }

   .site-nav__link {
      font-size: 25px;
      color: #FFFFFF;
   }

   .nav-close {
      display: flex;
   }
}

@include media(963px) {
   .site-logo {
      width: 100%;
      text-align: center;
   }

   .registration {
      width: 100%;
      margin: 10px 0 !important;
   }

   .for-blinds, .custom-select {
      margin-right: 0;
   }
}

@include media(900px) {
   .doctor-info {
      flex-wrap: wrap;
      padding: 30px;
   }
   .doctor-info__img {
      width: 100%;
      height: auto;

      img {
         width: 30%;
      }
   }
   .doctor-info__about {
      font-size: 16px;
   }
   .doctor-info__tel div:last-child {
      font-size: 14px;
   }
}

@include media(800px) {
   .section__title {
      width: 100%;
      margin-bottom: 20px;
   }

   .weather__info {
      width: 100%;
      text-align: left;

      img {
         width: 40px;
      }
   }

   .temperature {
      font-size: 30px;
   }

   .celcius {
      font-size: 36px;
   }

   .today-is {
      font-size: 15px;
      line-height: 1;
   }

   .is-useful {
      padding: 20px;
      height: auto;
      span {
         display: block;
         width: 100%;
         text-align: center;
         font-size: 16px;
         margin-bottom: 20px;
      }
   }

   .is-useful__buttons {
      width: 100%;
      justify-content: center;

      button {
         width: 80px;
         height: 45px;
      }
   }

   .share span {
      font-size: 16px;
   }
}

@include media(710px) {
   .our-doctors {
      height: auto;
   }
   .our-doctors__main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 20px;
      height: auto;
   }

   .doctor {
      position: static;
      width: 150px!important;
      height: 150px!important;
      margin-right: 20px;
      margin-bottom: 20px;
   }
}
@include media(629px) {
   .slider-card {
      height: 550px;
   }

   .campaign__section {
      margin-bottom: 20px !important;
      padding-top: 20px;
      padding-left: 20px;

      h3 {
         margin-bottom: 15px;
         font-size: 25px;
         line-height: 25px;
      }

      > img {
         width: 150px;
      }
   }

   .campaign__section__text {
      margin-bottom: 25px !important;
      font-size: 16px;
      line-height: 16px;
   }

   .campaign__section__more {
      a {
         width: 100px;
         height: 50px;

         img {
            width: 20px;
         }
      }

      span {
         font-size: 16px;
      }
   }

   .campaign__section__socials {
      a {
         margin-right: 10px;
      }

      img {
         height: 14px;
      }
   }
}

@include media(650px) {
   .photos {
      width: 100%;
   }

   .photos__left {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
   }

   .photos__right {
      width: 100%;
      text-align: center;
   }

   .site-footer__nav, .site-footer__middle, .site-footer__info {
      width: 100%;
      text-align: center;
   }

   .site-footer .container:last-child div {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
   }
}

@include media(500px) {
   .slider .container {
      padding-top: 20px;
   }

   .slide-item__mini-title {
      font-size: 16px;
   }

   .slide-item__big-title {
      font-size: 32px;
      margin-bottom: 60px;
      line-height: 40px;
   }

   .slide-item__link {
      min-width: 140px;
      height: 40px;
      font-size: 16px;
   }

   .slick-dots li {
      width: 20px;
      height: 20px;
   }

   .slick-dots li button {
      width: 0;
      height: 0;
      margin: 5px;
   }
}

@include media(410px) {
   .for-blinds, .custom-select {
      width: 100%;
      margin: 10px 0;
   }

   .photos__right-bottom {
      justify-content: space-evenly;

      img {
         width: 48%;
      }
   }

   .campaign__section__img {
      width: 100px !important;
   }
}

@include media(390px) {
   .our-doctors__main {
      justify-content: center;
   }
}
@include media(355px) {
   .site-nav__link {
      font-size: 16px;
   }
}